<% provide(:title, 'RSVP') %>
<h1>RSVP</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @guest do |f| %>
    <%= render 'shared/error_messages' %>    
    
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>


    <%= f.label "Additional Guests" %>
    <%= f.text_area :additional, class: 'form-control', :cols => 20, :rows => 5 %>

    <%= check_box_tag(:wedding) %>
    <%= label_tag(:wedding, "I Will be attending the Ceremony") %>
    <%= check_box_tag(:party) %>
    <%= label_tag(:party, "I Will be attending the Reception") %>

    <%= f.submit "See you there", class: "btn btn-primary" %>
    
    <% end %>
  </div>
</div>