<% provide(:title, "RSVP'd Guests") %>
<% provide(:b, "nine")%>
<h1>RSVP'd Guests</h1>
<%= @user.name %>, <%= @user.email %>


<table class="guests" width=80%>
  <tr><td>Name</td><td>Additional Guests</td><td>Addending Wedding</td><td>Attending Reception</td></tr>
  <% @guests.each do |guest| %>
  <tr>
    <td><%= guest.name %></td><td><%= guest.additional %></td><td><%= guest.wedding %></td><td><%= guest.party %></td>
  </tr>
  <% end %>
</ul>