    <script>
    $(document).ready(function() {
      $('ul.linker a').smoothScroll({offset: -40});
    });

  </script>
<a id="kb"></a>

<% provide(:title, 'Ben and Kassandra') %>
<% provide(:b, "one")%>
<a class="headline"><%= image_tag("headlineblock.png", alt: "headline")  %></a>
<a class="grass"><%= image_tag("grass.png", alt: "us in some grass") %></a>
<a id="story"></a>
<a class="headline"><%= image_tag("h1.png", alt: "headline")  %></a>
<table class="bgtable">
  <tr>
    <td class="bord">
    <h2 class="bride">The Bride</h2>
    </td>
    <td>
      <h2 class="groom">The Groom</h2> 
    </td>
  </tr>
  <tr>
   <td class="bord">
    <%= image_tag("kassandra.jpg", :class => "bimg", alt: "Beautiful Kassandra") %>
    </td>
    <td>
    <%= image_tag("ben.jpg", :class => "gimg", alt: "Handsom man") %>
    </td>
  </tr>
  <tr>
    <td class="bord">
    <p class="btxt">I grew up in the Village of Birchwood, Wisconsin. I'm not offended if you haven't heard of it, and I am very impressed if you have. It is a place where the amount of bars equal the amount of churches and despite what you would imagine, there is always something to do. I left that humble home to attend college at UW-Stevens Point in 2008 where I proceeded to make my way into the fine arts program and study graphic design.<br/>
      <br/>During my final year at Point, my love life took an unexpected turn for the best when I met Benjamin Wilz at a friend's wedding. (I know, right? I didn't think that sort of thing happened in real life.) To boot he was the officiant, which made for a lot of confusion at the time. Kids and their newfangled ways of marrying people.<br/>
      <br/>We proceeded to dance the night away, and though we didn't speak much, there was definitely a sense of knowing between us. Two years later and we are living in Madison and writing sappy copy for our wedding website! Go on, I know you appreciate it.<br/>
      <br/>To conclude, I want to thank our beautiful family for all of the support over the years and giving me such a happy life. I am so excited to share our wedding day with you, and I really hope to see you in Baraboo!
      </p>
      <br/>
       <hr class="lblueline"/><div class="bqts"><span class="qts">“</span> Ben was instantly my<br/> best friend. I mean, when <br/> you know, you know. <span class="qts">”</span></div>
    <hr class="lblueline"/>
    </td>
    <td>
    <p class="gtxt">I grew up in the Village of Ogdensburg, which if you haven’t heard of, is smaller than Birchwood. If I can remember right, it only has one bar and one church. There is nothing to do. Everyone either goes to Waupaca, Iola/Scanndy or Manawa in order to escape. I left Ogdensburg for good in 2006 and became a resident of Madison from then on.<br/>
     <br/>Before too long I ended up joining the Army and<br/> then attended classes toward a degree in web development, and after nearly six years of an uneventful life, a friend of mine asked if I would like to officiate his wedding.  I was a little hesitant at first, but I couldn’t let him down. This is why I found myself in Eagle River, of all places. I soon realized that my whole life had led me to that place, at that time, to meet someone special.<br/>
      <br/>Kassandra and I, after a night of drink and dance, began messaging each other via a social media site.<br/> I was quite taken by our exchanges, but when she gave me her number in the form of Pokemon, I really knew for sure. We began talking for hours on end, seeing each other every weekend and taking trips to each other’s far away families. We moved in together, vacationed together and after 13 months I asked<br/> her to marry me.<br/>
      <br/>I am so grateful for all of the love and support from our families as we take this next step in our lives.<br/> I can’t wait to see celebrate with everyone on<br/> August 15th!</p>
    </td>
  </tr>
  <tr>
    <td class="bord">
   
    </td>
    <td>   
    <hr class="rblueline"/><div class="gqts"><span class="qts">“</span> Kassandra is the light of my life.<br/> My sun and my stars. <span class="qts">”</span></div>
    <hr class="rblueline"/>
    </td>
  </tr>
</table>



<table class="story">
  <tr>
    <td class="strimg sthead" colspan="3"><h2>The Promise</h2>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td class="strimg" colspan="3"><%= image_tag("story1.jpg", alt: "mountains") %>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td class="strimg"><%= image_tag("story2.jpg", alt: "clingmans dome") %>
    </td>
    <td class="strimg" colspan="2"><%= image_tag("story3.jpg", alt: "trees and mountains") %>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td class="strimg" colspan="3"><%= image_tag("story4.jpg", alt: "ring finger") %>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
</table>

<a id="day"></a>
<a class="headline"><%= image_tag("bigday.png", alt: "our big day")  %></a>

<table class="bdtble">
  <tr>
    <td class="chead bord"><h2>Ceremony</h2>
    </td>
    <td class="rhead"><h2>Reception</h2>
    </td>
  </tr>  
  <tr>
    <td class="bdimg bord"><%= link_to image_tag("ceremony.jpg", :class => "cimg", alt: "Lower ochsner park"), "https://www.google.com/maps/dir//43.4693327,-89.7556158/@43.4709995,-89.7550241,17z/data=!4m2!4m1!3e0", :title => "Click for Google Maps", :target => "_blank" %>
    </td>
    <td class="bdimg"><%= link_to image_tag("reception.jpg", :class => "rimg", alt: "baraboo arts center"), "https://www.google.com/maps/dir//Baraboo+Arts/@43.4685845,-89.7518933,16z/data=!4m9!4m8!1m0!1m5!1m1!1s0x0:0xbccdd861b6511f60!2m2!1d-89.738868!2d43.467393!3e0", :title => "Click for Google Maps", :target => "_blank" %>
    </td>
  </tr>
  <tr>
    <td class="op bord">Lower Ochsner Park
    </td>
    <td class="ba">Baraboo Arts Center
    </td>
  </tr>
  <tr>
    <td class="cinfo bord">820 2nd Ave. Baraboo, WI 53913
    </td>
    <td class="rinfo">322 Water St. Baraboo, WI 53913
    </td>
  </tr>
   <tr>
    <td colspan="2" class="lgtxt">Ceromony begins at half past three in the afternoon.<br/>
      Reception to follow.
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="rain">* In the event of inclement weather the ceremony will be held at the Baraboo Arts Center
    </td>
    <td>
    </td>
  </tr>
</table>

<a id="lodge"></a>
<a class="headline"><%= image_tag("lodging.png", alt: "where to stay")  %></a>

<table class="lgtble">

  <tr>
    <td class="llhead bord"><h2>Clarion</h2>
    </td>
    <td class="lrhead"><h2>Best Western</h2>
    </td>
  </tr>  
  <tr>
  <td class="lgimg bord"><%= link_to image_tag("clarion.jpg", alt: "clarion baraboo", :class => "llgimg"), "https://www.google.com/maps/place/Clarion+Hotel+and+Convention+Center/@43.476479,-89.768025,17z/data=!3m1!4b1!4m2!3m1!1s0x88076a05ae9a6e6d:0x84d37b2ec84fa78f", :title => "Click for Google Maps", :target => "_blank" %>
    </td>
  <td class="lgimg"><%= link_to image_tag("bestwestern.jpg", alt: "best western baraboo", :class => "rlgimg"), "https://www.google.com/maps/place/Best+Western+Baraboo+Inn/@43.477709,-89.769636,17z/data=!3m1!4b1!4m2!3m1!1s0x0000000000000000:0xc2e02337bebe81e4", :title => "Click for Google Maps", :target => "_blank" %>
    </td>
  </tr>
  <tr>
    <td class="clinfo bord">626 W Pine St, Baraboo, WI 53913 <br/> 608.356.6422 | <span class="blk">Block closes July fourteenth</span>
    </td>
    <td class="bwinfo">725 W Pine St, Baraboo, WI 53913 <br/>608.356.1100 | <span class="blk">Block closes July twenty-fourth</span>
  </tr>
   <tr>
    <td colspan="2" class="lgtxt">A block of rooms has been set aside at the Clarion & the Best Western under the Gargulak-Wilz wedding.
    </td>
    <td>
    </td>
  </tr> 
   <tr>
    <td colspan="2" class="lgtxt2">With Wisconsin Dells, Portage and Sauk City not too far away, <br/> there are plenty of other accommodations in and around the Baraboo area.<br/>
    </td>
    <td>
    </td>
  </tr>  
  <tr>
    <td class="op bord">Ho-Chunk Casino Hotel
    </td>
    <td class="ba">Inn at Wawanissee Point Resort
    </td>
  </tr>
  <tr>
    <td class="cinfo bord">S3214 County Hwy BD Baraboo, WI 53913 <br/> 608.356.6210
    </td>
    <td class="rinfo">E13609 Tower Rd Baraboo, WI 53913 <br /> 608.355.9899
    </td>
  </tr>
  <tr>
    <td class="op bord">Cedarberry Inn
    </td>
    <td class="ba">Campus Inn Motel
    </td>
  </tr>
  <tr>
    <td class="cinfo bord">855 Phillips Boulevard Sauk City, WI 53583 <br/> 608.643.6625
    </td>
    <td class="rinfo">809 8th St, Hwy 33 Baraboo, WI 53913 <br/> 608.356.8366
    </td>
  </tr> 
  <tr>
    <td class="op bord">Log Lodge Motel & Cabins
    </td>
    <td class="ba">Ramada Wisconsin Dells
    </td>
  </tr>
  <tr>
    <td class="cinfo bord">830 W Pine St Baraboo, WI 53913 <br/> 608.356.6552
    </td>
    <td class="rinfo">1073 Frontage Rd E Wisconsin Dells, WI 53965 <br/> 608.254.2218
    </td>
  </tr>    
  
  
</table>

<a id="gift"></a>
<a class="headline"><%= image_tag("gifts.png", alt: "where we are registered")  %></a>

<table class="gftble">
  <tr>
  <td class="gftxt" colspan="2"><h2>We are registered at</h2>
    </td>
  <td>
    </td>
  </tr>
  <tr>
    <td class="gfimg bord"><%= link_to image_tag("targ2.png", alt: "Target"), "http://www.target.com/gift-registry/giftgiver?registryId=luJMAaGQej3vo4BONKmHlw&registryType=WEDDING", :target => "_blank" %>
    </td>
    <td class="gfimg"><%= link_to image_tag("Amazon2.jpg", alt: "Amazon dot com"), "http://www.amazon.com/gp/registry/wedding/ZA79O72PRSPW", :target => "_blank" %>
    </td>
  </tr>
</table>
<br/>

<a id="party"></a>
<a class="headline"><%= image_tag("ourfriends.png", alt: "Our wedding party")  %></a>

<div id="carousel-generic" class="carousel slide" data-ride="carousel" data-interval="0">
  <!-- Indicators -->
 <!-- <ol class="carousel-indicators">
    <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-generic" data-slide-to="1"></li>
    <li data-target="#carousel-generic" data-slide-to="2"></li>
  </ol> -->
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <table class="pttble">
        <tr>
        <td class="limage"><h2 class="phead" style="padding-left:1em">Cassandra Clark</h2>
        </td>
        <td class="rimage">  
        <h2 class="thead" style="padding-right:1.8em">Thomas Wilz</h2>
        </td>
        </tr>
        <tr>
          <td class="rp" style="padding-right:2em">Maid of Honor
          </td>
          <td class="lp" style="padding-left:1em">Best Man
          </td>
        </tr>
        <tr>
        <td>
         <a class="limage">
      <%= image_tag("friends1.jpg", alt: "Cassandra Clark")  %>
         </a>
        </td>
        <td>
        <a class="rimage">
       <%= image_tag("tom.jpg", alt: "Thomas Wilz")  %>
        </a>         
        </td>
        </tr>
        <tr>
        <td>
      <p class="lcaption">There are rumors that she runs with wild emus on special occasions.  While this may or may not be true, she is very much my dearest and oldest friend. I have never met anyone nearly as selfless, and with that merit, she deserves all of the awesome things.  I am honored to have her as my maid of honor. </p>
        </td>
        <td>
       <p class="rcaption">Thomas has always been like a brother to me. He is my best man and my brother. His best man speech will be the best ever. Star Wars, Legos, Computer Games /thread</p>
        </td>
        </tr>
      </table>
    </div>
    <div class="item">
       <table class="pttble">
        <tr>
        <td class="limage"><h2 class="phead" style="padding-left:1.3em">Megan Thome</h2>
        </td>
        <td class="rimage">  
        <h2 class="thead">Shea Curry</h2>
        </td>
        </tr>
         <tr>
          <td class="rp" style="padding-right:2em">Bidesmaid
          </td>
          <td class="lp" style="padding-left:1.25em">Groomsman
          </td>
        </tr>
        <tr>
        <td>
         <a class="limage">
           <%= image_tag("megan.jpg", alt: "Megan Thome")  %>
         </a>
        </td>
        <td>
        <a class="rimage">
          <%= image_tag("shea.jpg", alt: "Sheaftain Curry")  %>
        </a>         
        </td>
        </tr>
        <tr>
        <td>
      <p class="lcaption">Some say that she only eats oranges when it's cold outside, and that she once saved a french mime from choking on a television remote control. All we know is that she's Megan!</p>
        </td>
        <td>
       <p class="rcaption">What can be said about this man...Shea has been my friend for years. Without him my life and the lives of many others would be a dreadful bore.</p><br/><br/>
        </td>
        </tr>
      </table>
    </div>
    <div class="item">
       <table class="pttble">
        <tr>
        <td class="limage"><h2 class="phead" style="padding-left:1.8em">Amanda Knoll</h2>
        </td>
        <td class="rimage">  
        <h2 class="thead" style="padding-right:.5em">Jason Hermes</h2>
        </td>
        </tr>
          <tr>
          <td class="rp" style="padding-right:2em">Bidesmaid
          </td>
          <td class="lp" style="padding-left:1em">Groomsman
          </td>
        </tr>
        <tr>
        <td>
         <a class="limage">
           <%= image_tag("amandak.jpg", alt: "Amanda Knoll")  %>
         </a>
        </td>
        <td>
        <a class="rimage">
          <%= image_tag("json.jpg", alt: "Json")  %>
        </a>         
        </td>
        </tr>
        <tr>
        <td>
      <p class="lcaption">Amanda has been my partner in crime throughout college. I can honestly say I have never made friends with anyone as quickly as this one, or pick up where we left off so easily. Since the good ole days, she has been living in the middle of the woods making a bunch of neat bird friends. </p>
        </td>
        <td>
       <p class="rcaption">Even before becoming my brother, Jason has always been a great inspiration in my life. Over the years we experienced fun and exciting times together and his ability to take life by the horns has always encouraged me to do the same.</p>
        </td>
        </tr>
      </table>
    </div>
    <div class="item">
       <table class="pttble">
        <tr>
        <td class="limage"><h2 class="phead" style="padding-left:1.7em">Jessica Robotka</h2>
        </td>
        <td class="rimage">  
        <h2 class="thead">Henery Henkel</h2>
        </td>
        </tr>
          <tr>
          <td class="rp" style="padding-right:2em">Bidesmaid
          </td>
          <td class="lp" style="padding-left:1em">Groomsman
          </td>
        </tr>
        <tr>
        <td>
         <a class="limage">
           <%= image_tag("jessie.jpg", alt: "Sistah Jessie")  %>
         </a>
        </td>
        <td>
        <a class="rimage">
          <%= image_tag("henry.jpg", alt: "the who?")  %>
        </a>         
        </td>
        </tr>
        <tr>
        <td>
      <p class="lcaption">This sister of mine is the reason I always made it to the dentist on time. She can frequently be spotted in greenhouses, helping the sick animals, and giving all of the best advice. But my most favorite thing is that we both share a love for classic Spyro and other nerdy games of nerdom. </p>
        </td>
        <td>
       <p class="rcaption">Though he’s fairly elusive, I have witnessed this man drive several hours to spend time with a friend at the drop of a hat. Only to turn around and drive back a few hours later. Henry has been a dear friend for years and I only regret that we don’t see each other more often.</p>
        </td>
        </tr>
      </table>
    </div>
    
    <div class="item">
       <table class="pttble">
        <tr>
        <td class="limage"><h2 class="phead" style="padding-left:.5em">Amanda & Saige Buchholz</h2>
        </td>
        <td class="rimage">  
        <h2 class="thead" style="padding-right:.5em">Clarence Mcgivens</h2>
        </td>
        </tr>
          <tr>
          <td class="rp" style="padding-right:2em">Bidesmaid
          </td>
          <td class="lp" style="padding-left:1em">Groomsman
          </td>
        </tr>
        <tr>
        <td>
         <a class="limage">
           <%= image_tag("amandasaige.jpg", alt: "those two")  %>
         </a>
        </td>
        <td>
        <a class="rimage">
          <%= image_tag("mcgivens.jpg", alt: "clarence")  %>
        </a>         
        </td>
        </tr>
        <tr>
        <td>
      <p class="lcaption">Even though she used to torture me deep into the night with tales of the hook man, and pretended to be eaten by a closet, I still love and accept her as my sister. Now she has someone new to tease, her lovely daughter (and our own flower girl) Saige.</p>
        </td>
        <td>
       <p class="rcaption">Clarence Jeffery Mcgivens. Man or legend? I have had the luck of living and traveling across the country with this great man, a true friend. From what I can tell, I’ve witnessed less than half of the adventures this man will embark on.</p><br/>
        </td>
        </tr>
      </table>
    </div>    
    

    
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
    <%= image_tag("lbutton.png", :class => "marrow icon-prev", alt: "reverse arrow")  %>
  </a>
  <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
    <%= image_tag("button.png", :class => "arrow icon-next", alt: "arrow")  %>
  </a>
</div> <!-- Carousel -->


<div>
<table class="ferdinand">
  <tr>
    <td>
    </td>
    <td>Site Designed By Kassandra &#128149; Coded by Benjamin 
    </td>
    <td>
    </td>
  </tr>
  <br/>
  <tr>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
</table>
</div>


