    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Our Story",   root_path %></li>
            <li><%= link_to "The Big Day",   '#' %></li>
            <li><%= link_to "Lodging", '#' %></li>
            <li><%= link_to "Gifts", '#' %></li>
            <li><%= link_to "Wedding Party", '#' %></li>
            <li><%= link_to "RSVP", rsvp_path %></li>
            <li><%= link_to "Sign Up", signup_path %></li>
          </ul>
        </nav>
      </div>
    </header>